{% extends "layout.html" %}

{% block tittle %}
tanya and tweet
{% endblock %}


{% block content %}
<h1 class="text-center  mt-4"> Welcome to Tan's Django project</h1>

<h2>
    {% if form.instance.pk %}
    Edit Tweet 
    {% else %} 
    Create tweet
    {% endif %}

    <form  method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}

    {{form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href ="{% url 'tweet_list' %}">Back to Tweet </a>
</h2>
{% endblock %}